@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font: 'Roboto','Helvetica','sans-serif';
    --color1: #10454F;
    --color2: #506266;
    --color3: #818274;
    --color4: #A3AB78;
    --color5: #BDE038;
    

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}